.demo {
    width: 100px;
    height: 100px;
    background-color:grey;
    display:inline-block;
    margin: 10px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}